@import "./reset.css";
@import "./note.css";
@import "./center.css";
@import "./right.css";
@import "./util.css";

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --left-w: 250px;
  --center-w: 650px;
  --right-w: 250px;
  --header-font-size: 16pt;
}

body {
  background-color: hsl(20, 0%, 17%);
  color: hsl(20, 2%, 95%);
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

#left {
  display: flex;
  flex-direction: column;
  background-color: hsl(50, 0%, 16%);
  width: var(--left-w);
  height: fit-content;
  border-radius: 0 5px 5px 0;
  padding: 10px;
}

#center {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: var(--center-w);
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  height: fit-content;
  max-height: 98vh;
  background-color:hsl(20, 0%, 15%);
}

#right {
  position: relative;
  left: calc(var(--center-w) / 2 + var(--right-w) / 2);
  background-color: hsl(50, 0%, 16%);
  width: var(--right-w);
  height: fit-content;
  border-radius: 8px;
  padding: 10px;
}
