@import "./reset.css";
@import "./note.css";
@import "./center.css";
@import "./right.css";
@import "./util.css";

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --left-w: 65px;
  --center-w: 650px;
  --right-w: 250px;
  --header-font-size: 16pt;
  --center-bg: hsl(200, 10%, 97%);
}

body {
  background-color: hsl(200, 10%, 75%);
  color: hsl(50, 2%, 10%);
  padding: 6px;
}

#main {
  display: flex;
}

#left {
  display: flex;
  flex-direction: column;
  background-color: hsl(200, 10%, 55%);
  width: var(--left-w);
  height: 400px;
  border-radius: 8px 0 0 8px;
  padding: 10px;
  z-index: 3;
}

#center {
  display: flex;
  flex-direction: column;
  width: var(--center-w);
  border-radius: 0 8px 8px 8px;
  padding: 10px;
  height: fit-content;
  max-height: 98vh;
  background-color: var(--center-bg);
  box-shadow: 0 0 13px -4px hsl(0, 0%, 30%);
  z-index: 0;
  overflow-x: visible;
}

#right {
  margin-left: -6px;
  background-color: hsl(200, 10%, 87%);
  width: var(--right-w);
  height: fit-content;
  border-radius: 0 8px 8px 0;
  padding: 10px 10px 10px 18px;
  overflow-y: scroll;
  z-index: 1;
}
