:root {
  --last-entry-h: 30px;
  --entry-h: 40px;
  --visible-w: 615px;
}

#entry {
  display: flex;
  flex-direction: column;
  width: var(--visible-w);
}

#prompt {
  background-color: hsl(50, 0%, 45%);
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  height: var(--entry-h);
  box-shadow: 0 3px 8px -5px hsl(0, 0%, 50%);
}

#prompt:focus-within {
  background-color: hsl(50, 55%, 48%);
}

#prompt-char {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 25px;
  border-radius: 4px 0 0 4px;
  font-size: 1.1rem;
}

#inp {
  background-color: hsl(50, 0%, 35%);
  font-size: 1.1rem;
  color: hsl(50, 90%, 85%);
  width: 100%;
  margin: 3px;
  padding: 8px;
  outline: none;
}

#inp:focus {
  background-color: hsl(50, 0%, 30%);
}

#last {
  height: var(--last-entry-h);
  padding: 4px 4px 4px 0;
}

#last-title {
  color: hsl(50, 6%, 40%);
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 500;
  margin-right: 6px;
  /* background-color: hsl(200, 0%, 40%); */
}

#last-entry {
  background-color: hsl(200, 15%, 88%);
  color: hsl(200, 80%, 20%);
  font-weight: 500;
  padding: 1px 6px;
  border-radius: 3px;
}

#listing {
  overflow-y: scroll;
  border-top: 2px solid hsl(200, 5%, 80%);
  padding-top: 10px;
}

#select-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background-color: hsl(200, 60%, 50%);
  /* border: 3px solid hsl(200, 60%, 50%); */
  color: hsl(200, 60%, 50%);
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}

#select-all img {
  height: 12px;
  width: 12px;
}

#noselect-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background-color: white;
  border: 3px solid hsl(200, 20%, 70%);
  color: hsl(200, 20%, 70%);
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
}

#noselect-all img {
  height: 12px;
  width: 12px;
}

#list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
  font-size: var(--header-font-size);
  width: var(--visible-w);
}

#list-header h1 {
  margin-left: 8px;
  padding: 4px;
}
#messages {
  width: var(--visible-w);
}

#messages p {
  border-radius: 6px;
  padding: 6px;
  margin-top: 5px;
  height: fit-content;
}

#suc {
  background-color: hsl(90, 50%, 80%);
  color: hsl(0, 40%, 10%);
}

#err {
  background-color: hsl(20, 80%, 85%);
  color: hsl(20, 90%, 10%);
  border: 1px solid hsl(20, 80%, 75%);
}

#warn {
  background-color: hsl(60, 60%, 80%);
  color: hsl(60, 90%, 10%);
  border: 1px solid hsl(60, 80%, 45%);
}

#info {
  background-color: hsl(200, 50%, 80%);
  color: hsl(0, 40%, 10%);
}
