.note {
  position: relative;
  display: flex;
  margin: 5px 0 8px 0;
  width: var(--visible-w);
}

.note-content {
  background-color: hsl(50, 0%, 100%);
  border-radius: 4px;
  width: 100%;
  border: 1px solid hsl(200, 0%, 78%);
  padding: 6px 6px 6px 10px;
  overflow-x: hidden;
  box-shadow: 0px 1px 9px -5px hsl(0, 0%, 50%);
}

.selected {
  background-color: hsl(200, 70%, 96%);
  box-shadow: inset 0 0 0 3px hsl(200, 60%, 70%);
}

.note-content:hover {
  background-color: hsl(50, 85%, 95%);
}

/* NOTE NUMBER */

.note-num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(200, 60%, 90%);
  color: hsl(200, 60%, 40%);
  font-weight: 700;
  font-size: 11pt;
  border-radius: 8px 0 0 8px;
  width: 30px;
  margin: 4px -5px 4px 0;
  padding-right: 5px;
}

.note-num:hover {
  cursor: pointer;
  background-color: hsl(200, 60%, 40%);
  color: hsl(200, 60%, 100%);
  width: 30px;
}

.selected-num {
  background-color: hsl(200, 60%, 50%);
  color: hsl(200, 60%, 100%);
}

/* NOTE CONTENT */

.note-title {
  font-size: larger;
}

.note-body {
  padding: 5px 0;
}

.note-tag-area {
  display: flex;
  align-items: center;
}

.note-tags {
  font-size: 11pt;
  font-weight: 600;
  color: hsl(140, 0%, 60%);
  border-radius: 3px;
  padding: 0 8px 2px 0;
  cursor: pointer;
}

.note-tags:hover {
  color: hsl(140, 50%, 40%);
  text-decoration: 1px underline hsl(140, 50%, 40%);
}

/* ACTIONS */

.note-act-del {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 0;
  height: 28px;
  border-radius: 0 4px 0 10px;
  box-shadow: 0px 0px 7px -3px hsl(0, 0%, 30%);
  background-color: hsl(20, 60%, 60%);
}

.note-act-del img {
  width: 12px;
  height: 12px;
}

.note-content:hover + .note-act-del {
  visibility: visible;
  width: 28px;
}

.note-act-del:hover {
  background-color: hsl(20, 70%, 60%);
  visibility: visible;
  width: 28px;
}

.note-act-del:hover img {
  width: 16px;
  height: 16px;
}

.note-action.note-stick:hover {
  background-color: hsl(200, 40%, 40%);
  color: white;
}

.sticky {
  background-color: hsl(30, 40%, 95%);
  border: 1px solid hsl(30, 60%, 50%);
}
