.sm-note {
  margin: 5px 0 5px 0;
  background-color: hsl(50, 0%, 100%);
  padding: 3px 3px 2px 7px;
  /* border-radius: 0 3px 3px 0; */
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 55%);
  width: 100%;
  box-shadow: 1px 1px 5px -3px hsl(0, 0%, 60%);
}

.sm-note:hover {
  background-color: hsl(10, 70%, 90%);
  cursor: pointer;
}

.sm-note-title {
  font-size: 11pt;
}

.sm-note-body {
  padding: 3px 0;
  font-size: 10pt;
}

#btn-area {
  display: flex;
  justify-content: space-evenly;
  height: var(--entry-h);
}

.sel-btn {
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  padding: 3px;
  margin: 2px;
  font-size: 9pt;
  font-weight: 700;
  border: 2px solid;
  /* height: 25px; */
}

#btn-del {
  color: hsl(50, 0%, 100%);
  background-color: hsl(0, 25%, 50%);
  border-color: hsl(0, 40%, 35%);
}

#btn-del:hover {
  color: hsl(50, 0%, 100%);
  background-color: hsl(0, 30%, 50%);
}

#btn-del:active {
  position: relative;
  color: hsl(50, 0%, 100%);
  background-color: hsl(0, 50%, 50%);
  top: 2px;
  left: 2px;
}

#btn-clear {
  color: hsl(50, 0%, 100%);
  background-color: hsl(50, 30%, 40%);
  border-color: hsl(0, 40%, 35%);
}

#btn-clear:hover {
  color: hsl(50, 0%, 100%);
  background-color: hsl(0, 50%, 50%);
}

#btn-clear:active {
  position: relative;
  color: hsl(50, 0%, 100%);
  background-color: hsl(0, 50%, 50%);
  top: 2px;
  left: 2px;
}

#btn-export {
  background-color: hsl(50, 30%, 40%);
  color: hsl(50, 0%, 100%);
  border-color: hsl(0, 40%, 35%);
}

#btn-export:hover {
  color: hsl(50, 0%, 100%);
  background-color: hsl(0, 50%, 50%);
}

#btn-export:active {
  position: relative;
  color: hsl(50, 0%, 100%);
  background-color: hsl(0, 50%, 50%);
  top: 2px;
  left: 2px;
}

#sel-title {
  font-size: var(--header-font-size);
  margin: 8px 0;
}

#selection-list {
  overflow-y: scroll;
}